/* Nancy Welsch */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End of Reset*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
:root{
    --yellow: #f6d64a;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
    font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
}

/*---skip to main content---*/
#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
#skip:focus {
    position: static;
    width:auto;
    height: auto;
}
/*--global--*/
html {
    box-sizing: border-box;
    line-height: 1.35;
    width: 100%
}
body {
    box-sizing: border-box;
    background-color: var(--white);
    width: 100%;
    margin: 0;
    padding: 0;
}
nav, a, form, q, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}
header{ 
    width: 100%;
    margin-right: 150px;
    padding: 1rem 0;
    background-color: var(--teal);
    background-image: linear-gradient(#55BCD5, #ffffff);
}
#logo img{
    padding-top: 5vw;
    max-width: 50vw;
}
header h1 {
    padding: 20px 20px 0 20px;
}
header p {
    padding: 0 20px 20px 20px;
}
h1, h2, h3, h4 {
    font-family: 'Molle', cursive;
    font-weight: bold;
    color: var(--black);   
    line-height: 1.2;
	text-align: left;
    margin-left: 3px;
}
h1 {
    font-size: 50pt;
    padding: 1em;
}
h2 {
    font-size: 45pt;
    padding: 1em;
}
h3 {
    font-size: 40pt;
    padding: 1em;
}
h4 {
    font-size: 30pt;
    padding: 1em;
}
a {
    text-decoration: none;
    color: var(--dark-gray);
}

/*--nav--*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#menu-toggle label {
    background-color: var(--yellow);
    padding: 10px 60px;
    font-weight: bold;
}

#menu-toggle input {
    display: none;
}

#menu-toggle {
    position: absolute;
    top: 40px;
    right: 0;
    user-select: none;
}

#menu-toggle ul{
    position: relative;
    display: none;
    background-color: var(--teal);
    width: 100vw;
}

#menu-toggle li{
    height: 10vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--black) 1px;
}

#menu-toggle li a{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
}

#menu-toggle input:checked ~ ul, #menu-toggle input:checked ~ label {
    display: flex;
    flex-direction: column;
}

#menu-toggle input:checked ~ label {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

/*--Main Content--Intro--*/
#intro h2 {
    padding-top: 3rem;
}
#intro h2, #intro p{
    grid-column-start: 1;
    grid-column-end: -1;
    padding: .2rem 2rem 1rem;
}
#img-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 33.33%) auto;
    gap: 15px;
    padding-bottom: 6rem;
}
#img-grid picture, #img-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
picture {
    display: grid;
    grid-area: cove;
}
picture img {
    width: 100%;
}
img, picture {
    display: grid;
}
/*--Main Content--Plan--*/
#plan {
    background-color: var(--yellow);
    padding-bottom: 20px;
}
#plan h3 {
    font-size: 2rem;
    padding: 2rem 2rem .5rem;
}
#plan h4 {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#plan div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
}

#plan section {
    padding-bottom: 1rem;
}
#plan svg {
    width: 100%;
}
#plan img{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*--Main Content--testimonials--*/
#testimonials {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title"
    "test";
    padding: 2rem;
}
#testimonials section {
    display: grid;
    padding: 1rem;
    justify-items: center;
}
#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: center;
    grid-template-areas: 
    "miranda"
    "max"
    "ines"
    "carmen";
}
#testimonials div > section:nth-of-type(1) {
    grid-area: miranda;
    justify-items: center;
}
#testimonials div > section:nth-of-type(2) {
    grid-area: max;
    justify-items: center;
}
#testimonials div > section:nth-of-type(3) {
    grid-area: ines;
    justify-items: center;
}
#testimonials div > section:nth-of-type(4) {
    grid-area: carmen;
    justify-items: center;
}
#testimonials q {
    text-align: center;
    font-style: italic;
}
#testimonials img{
    padding: 0.25rem;
}
/*--Main Content--About--*/
#about {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title"
    "div";
    padding: 1rem;
}
#about div {
    grid-area: div;
    display: grid;
    grid-template-areas:
    "size elevation"
    "location population";
    justify-content: center ;
}
#about h3 {
    grid-area: title;
    grid-column: 1;
}
#about section {
    display:grid;
}
#about div > section:nth-of-type(1) {
    grid-area: size;
    justify-items: center; 
}
#about div > section:nth-of-type(2) {
    grid-area: elevation;
    justify-items: center;  
}
#about div > section:nth-of-type(3) {
    grid-area: location;
    justify-items: center;   
}
#about div > section:nth-of-type(4) {
    grid-area: population;
    justify-items: center;   
}
#about svg {
    padding: .5rem;
}
#about img{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*--Main Content--Contact Form--*/
#form {
    display: grid;
    margin: 0.25rem 0.25rem;
}
.form-required {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
.required {
    color: var(--purple);
}
#contact {
    display: flex;
    flex-direction: column;
}
input#fName, input#lName, input#email, input#phone, select#destination, select#travelTime, input#mySubmit {
    height: 3rem;
    margin-bottom: 1rem;
}
#names {
    display: grid;
    grid-area: names;
}
#nums {
    display: grid;
    grid-area: nums;
}
#selects {
    display: grid;
    grid-area: selects;
}
#travelTime {
    display: grid;
    grid-area: travel;
}
fieldset {
    padding-bottom: 1rem;
    display: grid;
}
fieldset label {
    font-size: 1.25rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-top: 1em;
}
span.radio-label {
    padding: 12px 0 0 30px;
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0.5rem;
    font: inherit;
    width: 3rem;
    height: 3rem;
    border:#9B26B0 solid 0.15em;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}
input[type="radio"]::before {
    content: "";
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
#contact label, legend {
    padding: .25rem;
    font-weight: 700;
}
#nums fieldset > label {
    font-weight: 400;
    padding: 0.5rem;
}
select { 
    width: 100%;
}
#contact input, select {
    border: solid 3px #9B26B0;
}
div#custom-select{
    padding: 0.5rem;
}
#mySubmit {
    background-color: #9B26B0;
    color: #ffffff;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
/*--Footer--*/
footer {
    font-size: x-small;
    display: grid;
    background-color: var(--light-gray);
    justify-items: center;
    align-items: center;
    padding: 1rem;
    height: 10rem;
}
/*--hover style--*/



/*--Screen Styles--*/
@media screen and (min-width: 750px) {
    header {
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: repeat(2, auto);
    }
    header img {
        max-width: 30vw;
        align-items: center;
    }
    header h1, header p {
        display: grid;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }
    header h1 {
        position: relative;
        font-size: 4rem;
        top: 35%;
    }
    header p {
        font-size: 1.3rem;
        position: relative;
        top: 50%;
        max-width: 80%;
        padding-top: 20px;
    }
    #menu-toggle ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 83vw;
        background-color: transparent;
    }
    #menu-toggle li {
        background-color: var(--lightGray);
        height: 8vh;
        font-weight: bold;
        border: none;
    }
    #menu-toggle .active {
        background-color: var(--yellow);
    }
    #menu-toggle li:hover {
        background-color: var(--yellow);
    }
    #toggle, label[for="toggle"]{
        display: none;
    }
    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 8vw;
    }
    #intro p {
        padding: 0 10px 0 0;
    }
    #intro h2 {
        padding: 5.5vh 0 0;
    }
    #img-grid{
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 50% 50%;
        overflow: hidden;
        padding-bottom: 3rem;
        gap: 10px;
    }
    #img-grid picture {
        grid-column: 1 / -1;
    }
    #img-grid img:first-child {
        grid-column: 2;
        grid-row: 1;
    }
    #img-grid img:nth-child(2) {
        grid-column: 1;
    }
    #plan div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 10vw;
    }
    #plan h3, #testimonials h3, #about h3 {
        margin: 0 10vw;
        padding: 5vh 0 2vh;
    }
    #testimonials div {
        display: grid;
        margin: 0 10vw;
        grid-template-columns: 1fr 1fr;
    }
    #testimonials p {
        margin: 0;
    }
    #about h3{
        justify-self: left;
    }
    #about div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin: 0 10vw;
        padding: 0;
    }

}

@media screen and (min-width: 1100px) {
    #intro {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "majorca gallery"
        "text gallery"
        "none gallery";
        padding: 3rem 8rem;
    }
    header p {
        align-self: end;
        padding: 0;
    }
    #plan div {

    }
    
}
