/* Nancy Welsch */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End of Reset*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
:root{
    --yellow: #f6d64a;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
    font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*---skip to main content---*/
#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
#skip :focus {
    position: static;
    width:auto;
    height: auto;
}
/*--global--*/
html {
    box-sizing: border-box;
    line-height: 1.35;
    width: 100%
}
body {
    box-sizing: border-box;
    background-color: var(--white)
    width: 100%;
    margin: 0;
    padding: 0;
}
nav, a, form, q, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}
header{ 
    width: 100%;
    margin-right: 150px;
    padding: 1rem 0;
    background-color: var(--teal);
    background-image: linear-gradient(#55BCD5, #ffffff);
}
header img{
    display: block;
    margin-right: 5px;
}
header h1 {
    padding: 20px 20px 0 20px;
}
header p {
    padding: 0 20px 20px 20px;
}
h1, h2, h3, h4 {
    font-family: 'Molle', cursive;
    font-weight: bold;
    color: var(--black);   
    line-height: 1.2;
	text-align: left;
    margin-left: 5px;
}
h1 {
    font-size: 50pt;
    padding: 0.5em;
}
h2 {
    font-size: 45pt;
    padding: 0.5em;
}
h3 {
    font-size: 40pt;
    padding: 0.5em;
}
h4 {
    font-size: 30pt;
    padding: 0.5em;
}
a {
    text-decoration: none;
    color: var(--dark-gray);
}

/*--nav--*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#menu-toggle {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#menu-toggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -0-transition: color 0.3s ease;
    transition: color 0.3s ease;    
}
/*--The hamburger button hidden inside an input element--*/
#menu-toggle input {
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    top: -200px;
    right: 0;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  
    -webkit-touch-callout: none;
}
#menu-toggle label {
    text-align: center;
    position: relative;
    top: -200px;
    left: 68%;
    display: block;
    width: 30%;
    height: 45px;
    background-color: var(--yellow);
    padding-top: 12px;
}
#menu-toggle label span {
    display: none;
}
/*--Use absolute positioning to place the menu off-screen--*/
#menu {
    position: absolute;
    width: 100%;
    top: -50px;
    margin: -100px 0 0 -50px;
    background-color: var(--teal);
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
    display: grid;
}
#menu li {
    display: grid;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    font-size: 22px;
    align-content: center;
    justify-content: center;
    border: solid 2px var(--dark-gray);
}
/*--Slide the menu in from left when the input is checked--*/
#menu--toggle input:checked ~ ul {
    left: 50px;
}
/*--Main Content--Intro--*/
#intro {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "majorca"
    "text"
    "gallery";
}
#intro h2 {
    display: grid;
    grid-area: majorca;
    padding: 0 1rem 1rem 1rem;
}
#intro p {
    display: grid;
    grid-area: text;
    padding: 0 1rem 1rem 1rem;
}
#img-grid {
    display: grid;
    grid-area: gallery;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "waves"
    "beach"
    "cove";
    justify-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}
div#img-grid > img:nth-of-type(1) {
    grid-area: waves;
    width: 100%;
    max-width:466px; 
}
div#img-grid img:nth-of-type(2) {
    grid-area: beach;
    width: 100%;
    max-width:466px;
}
picture {
    display: grid;
    grid-area: cove;
}
picture img {
    width: 100%;
}
img, picture {
    display: grid;
}
/*--Main Content--Plan--*/
#plan {
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title"
    "icons";
}
#plan h4 {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#plan h3 {
    display: grid;
    grid-area: title;
    padding: 1rem 2rem;
}
#plan div {
    padding-bottom: 1rem;
    grid-area: icons;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas: 
    "plane"
    "hotel"
    "boat"
    "eat";
}
#plan div > section:nth-of-type(1) {
    grid-area: plane;
}